<footer class="footer">
    <div class="footer-top">
        <h2>Rahul Yadav</h2>
        <p class="email">
            <i class="material-icons"><i class="fas fa-envelope"></i></i>
            <a href="mailto:rahulydv2003@gmail.com" id="dark-mode-email">rahulydv2003@gmail.com</a>
        </p>
    </div>

    <hr />

    <div class="footer-bottom">
        <p id="dark-mode-rights">© 2025 Rahul Yadav. All rights reserved.</p>
        <ul>
            <li>
                <a id="dark-mode-github" href="https://github.com/rahulyadav-2003" target="_blank">
                    <i class="fab fa-github"></i> GitHub
                </a>
            </li>
            <li>
                <a id="dark-mode-linkedin" href="https://www.linkedin.com/in/rahul-yadav-b970421b7" target="_blank">
                    <i class="fab fa-linkedin"></i>
                    LinkedIn
                </a>
            </li>
            <li class="dark-mode-on">
                <a id="dark-mode-contact" href="#contact">
                    <i class="fas fa-user"></i>
                    Connect with me
                </a>
            </li>
            <!-- <li><a href="#"></a></li> -->
        </ul>
    </div>
</footer>