<div class="outer">
  <div class="notfound-wrapper">
    <div class="notfound-card">
      <div class="notfound-content">
        <h1>404</h1>
        <h2 id="description">Page Not Found</h2>
        <p >
          Sorry, the page you are looking for doesn’t exist. You can go back home, check my skills, or explore my
          projects.
        </p>
        <div class="btn-group">
          <a routerLink="/" class="btn primary-btn">Home</a>
          <!-- <a routerLink="/skills" class="btn secondary-btn">Skills</a> -->
          <!-- <a routerLink="/projects" class="btn secondary-btn">Projects</a> -->
        </div>
      </div>
      <div class="notfound-illustration">
        <img src="/assets/images/404.jpg" alt="404 Illustration" />
      </div>
    </div>
  </div>
</div>