<div class="about-me-container">
  <div class="about-me-left">
    <!-- <img src="/assets/images/about-me.jpg" alt="Profile Picture" class="profile-image"/> -->
    <!-- <video #aboutMeVideo src="/assets/images/aboutme2.mp4"  autoplay loop muted
      style="border: none;"></video> -->
    <video #videoPlayer loop  class="profile-image" id="about-me-video" >
      <source src="assets/images/aboutme2.mp4" type="video/mp4" />
      Your browser does not support the video tag.
    </video>

  </div>
  <div class="about-me-right">
    <h2>About me</h2>
    <p>
      I am an experienced Full stack Developer with over a decade of professional expertise in the field.
      Throughout my career, I have had the privilege of collaborating with prestigious organizations,
      contributing to their success and growth.
    </p>
    <div class="card-container">
      <div class="card">
        <i class="fa fa-code"></i>
        <h3>Front-End </h3>
        <p>HTML, CSS, JavaScript, TypeScript, Angular</p>
      </div>
      <div class="card">
        <i class="fa fa-cogs"></i>
        <h3>Back-End </h3>
        <p>C#, .NET, ASP.NET Core, SQL, Razor</p>
      </div>
      <div class="card">
        <i class="fa fa-graduation-cap"></i>
        <h3>Education</h3>
        <p>BCA in Computer Science</p>
      </div>
      <div class="card">
        <i class="fa fa-briefcase"></i>
        <h3>Projects</h3>
        <p>Built more than 5 projects</p>
      </div>
    </div>
    <div class="tools">
      <p>Tools I use:</p>
      <div class="tools-icons">
        <!-- Add icons or images for your tools here -->
        <img src="/assets/images/vscode.webp" alt="VS Code" class="tool-icon" />
        <img src="/assets/images/git.png" alt="VS Code" class="tool-icon" />
        <img src="/assets/images/github.png" alt="VS Code" class="tool-icon" />
        <img src="/assets/images/visualStudio2022.png" alt="VS Code" class="tool-icon" />
        <img src="/assets/images/docker.webp" alt="VS Code" class="tool-icon" />
        <img src="/assets/images/googleCloud.webp" alt="VS Code" class="tool-icon" />
        <img src="/assets/images/mySql2.svg" alt="VS Code" class="tool-icon" />
        <img src="/assets/images/microsoft-sql-server.png" alt="VS Code" class="tool-icon" />
        <img src="/assets/images/postman.webp" alt="VS Code" class="tool-icon" />
        <!-- <img src="firebase-icon.png" alt="Firebase" class="tool-icon"/> -->
        <!-- Add more tools as necessary -->
      </div>
    </div>
  </div>
</div>