<!-- <app-header></app-header> -->
<app-navbar *ngIf="!showNotFound"></app-navbar>

<main class="main-content" *ngIf="!showNotFound">
  <!-- <router-outlet></router-outlet> -->
   <section id="home"><app-home ></app-home></section>
   <app-about id="about"></app-about>
   <section id="experience"><app-experience ></app-experience></section>
   <section id="skills"><app-skills ></app-skills></section>
   <section id="projects"><app-projects ></app-projects></section>
   <section id="contact"><app-contact ></app-contact></section>
</main>


<app-not-found *ngIf="showNotFound"></app-not-found>
<app-footer *ngIf="!showNotFound"></app-footer>
